---
layout: article
---

  <div id="article">
   <div class="article-title">{{ page.title }}</div>
   <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}</small></p> <hr/>
   <div class="post">
     {{ content }}
   </div>
 </div>
  <ul class="pager">
  {% if page.previous %}
  <li class="previous"><a href="{{ page.previous.url }}">&larr; Older</a></li>
  {% endif %}
  {% if page.next %}
  <li class="next"><a href="{{ page.next.url }}">Newer &rarr;</a></li>
  {% endif %}

</ul>
    <div id="disqus_thread" >
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'smartinsightsfromdatagithubio';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); })(); </script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

 </ul>
 </div>